.container {
  display: grid;
  grid-template-columns: 3fr 1fr; 
  grid-template-rows: 2fr 2fr; 
  gap: 15px; 
  height: 93vh;
}

.horizontal.top {
  grid-column: 1 / 2; 
  background-color: white; 
  border-radius: 5px;
  margin-top:10px;
}

.horizontal.middle {
  grid-column: 1 / 2;
  background-color: white; 
  border-radius: 5px;
}

.horizontal.bottom {
  grid-column: 1 / 2;
  background-color: white; 
  border-radius: 5px;
}

.vertical.sidebar {
  grid-column: 2 / 3; 
  grid-row: 1 / 4; 
  background-color: #070746; 
}

.horizontal.top .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horizontal.top .header div {
  font-size: 16px;
  font-weight:550;
  margin-top:10px;
  margin-bottom:5px;
}

.horizontal.top .header .title {
  margin-left:20px;
}

.horizontal.top .header .btn {
  margin-right:20px;
  color: blue;
  background-color: rgb(234, 234, 255);
  padding:2px 15px 2px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.recommended-books {
  display: flex;
  gap: 8px;
  padding-left: 15px;
  padding-top:5px;
  padding-bottom: 10px;
  overflow-x: auto; 
  margin-bottom: 5px;
}

.book {
  background-color: white;
  border: 1px solid #ececec;
  border-radius: 5px;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  cursor: pointer;
   
  
}

.book img {
  width: 100%; 
  height: 180px; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 10px; 
}

.book h3 {
  font-size: 14px;
  margin: 0 0 5px; 
  color: #333; 
  font-weight:500;
}

.book p {
  font-size: 12px;
  color: #666;
  margin: 0; 
  font-weight:500;
}

.book-info{
  padding-bottom:5px;
  padding-left:10px;
}

.middle .header{
  padding:20px 20px 10px 20px;
  font-size: 16px;
  font-weight:550;
}


.categories{
  padding-left:20px;
  padding-right:20px;
  padding-top:2px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category{
  padding:5px 10px 5px 10px;
  border-radius: 5px;
  background-color: rgb(234, 234, 255);
  cursor: pointer;
}




.selectedCategory{
  background-color: #5a5af3;
  color: white;
  
}

.books-of-category{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left:20px;
  padding-top:10px;
}

.books-of-category .book{
  width: 120px;
  
}

.books-of-category .book img{
  height: 120px;
}


.vertical {
   text-align: center;
   padding-top: 50px;
   color: white;
   
}


.vertical .book-details img {
  width: 150px;
  height: 200px;
  border-radius: 5px;
 
  

}

.book-info p,h4{
  margin: 0;
  margin-top:10px;
}

.book-info .author{
  margin-bottom:5px;
  font-size:16px;
}




.rating-container {
  display: inline-block;
  padding-top:5px;
  
}

.rating-container span{
  font-size: 18px; 
  margin-left: 5px;
}

::ng-deep p-rating .p-rating-icon {
  font-size: 10px !important;
  margin-right: -1px !important;
  color: #e9c603 !important;
}

::ng-deep p-rating .p-rating-icon.pi-star-fill {
  color: #d7d3bb !important;
}

::ng-deep p-rating .p-rating-icon.pi-star {
  color: #ccc !important;
}


.book-info .description{
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  padding: 0px 20px 0px 20px;

}


.btn{
  margin-top:40px;
}

.btn button{
  padding:10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #2121fc;
  color: white;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border: none;
}