<div class="books-container">
    <div class="container-conent">
        <div *ngFor="let book of Books" class="book" (click)="showBookDetails(book)" >
            
            <div class="cover">
                <img [src]="getBookCover(book)" alt="cover">
                <!-- Availability Tag -->
                <div class="availability-tag" [ngClass]="book.status === 'AVAILABLE' ? 'available' : 'unavailable'">
                    {{ book.status === 'AVAILABLE' ? 'Available' : 'Not Available' }}
                </div>
            </div>

            <div class="info">
               <div class="title-container"><span>{{book.titre}}</span></div>
               <div><p>{{book.auteur}}</p></div>
               <div><p-rating [(ngModel)]="book.rating" [readonly]="true" [cancel]="false" /></div>
               <div>
                   <button 
                       class="btn btn-primary" 
                       [disabled]="!book.availability">
                       Reserve Now
                   </button>
               </div>
            </div>

        </div>
        
    </div>
    
</div> 