<div class="books-container">
    <div  *ngIf="!isWishlistEmpty"  class="container-conent">
        <div *ngFor="let book of Books" class="book" (click)="showBookDetails(book)" >
            
            <div class="cover">
                <img [src]="getBookCover(book)" alt="cover">
                <!-- Availability Tag -->
                <div class="availability-tag" [ngClass]="book.status === 'AVAILABLE' ? 'available' : 'unavailable'">
                    {{ book.status === 'AVAILABLE' ? 'Available' : 'Not Available' }}
                </div>
            </div>

            <div class="info">
               <div class="title-container"><span>{{book.titre}}</span></div>
               <div><p>{{book.auteur}}</p></div>
               <div><p-rating [(ngModel)]="book.rating" [readonly]="true" [cancel]="false" /></div>
               <div>
                   <button 
                       class="btn btn-primary" 
                       [disabled]="!book.availability">
                       Reserve Now
                   </button>
               </div>
            </div>

        </div>
        
    </div>



   <!-- Case that user not have any books in wishlist -->

    <div class="no-books" *ngIf="isWishlistEmpty" >
          
        

       <div class="image">
         <img src="https://www.pavejewelers.com/assets/images/empty-wishlist.png" alt="">
       </div>

        <div class="details">
            <div class="text">
                <span>Your Wishlist is empty!</span>
                <p>Seems like you don't have wishes here.</p>

            </div>

            <div class="btn">
                <button routerLink="/Discover" class="btn-primary">Start Exploring</button>
            </div>

        </div>

    </div>
    
</div> 