<p-toast />

<div class="table-container">
  <div class="header">
    <button (click)="show()" class="btn-add" mat-flat-button>
      <i class="fa-solid fa-plus"></i> New
    </button>
    <button  class="btn-delete" mat-flat-button>
      <i class="fa-regular fa-trash-can"></i> Delete
    </button>

  </div>

  <div class="card">
    <p-table
    #dt
    [value]="Books"
    [paginator]="true"
    [totalRecords]="totalRecords"
    [rows]="size"
    [rowsPerPageOptions]="[5,10,15]"
    [lazy]="true"
    (onLazyLoad)="onPageChange($event)"
    [globalFilterFields]="['titre', 'genre', 'auteur']"
    selectionMode="multiple"
    [(selection)]="selectedBooks"
  >
>
      <!-- Caption (Manage Books and Search Bar) -->
      <ng-template pTemplate="caption">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <strong>Manage Books</strong>
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              (input)="onGlobalFilter($event, dt)"
              placeholder="Search keyword"
            />
          </p-iconField>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width:5%">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width:25%">Name</th>
          <th style="width:25%">Category</th>
          <th style="width:25%">Author</th>
          <th style="width:25%">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-book>
        <tr style="cursor: pointer;">
          <td>
            <p-tableCheckbox [value]="book"></p-tableCheckbox>
          </td>
          <td>{{ book.titre }}</td>
          <td>{{ book.genre }}</td>
          <td>{{ book.auteur }}</td>
          <td>
            <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            styleClass="xsmall-button"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [outlined]="true"
            severity="danger"
            styleClass="xsmall-button"
            (click)="deleteSelected($event,book.id)"
          ></p-button>
          
          </td>
       </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No books found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
