.Description {
    margin-bottom: 20px;
    line-height: 1.3;
}

.dates {
    display: flex;
    flex-direction: row;
}

.dates .reservation-date {
    margin-right: 10px;
}
.dates div span{
    margin-bottom: 10px;
}
.actions {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 15px;
    bottom: 25px;
}

.actions div {
    margin-right: 10px;
}

:host ::ng-deep .p-calendar .p-datepicker {
    width: 300px;
    box-sizing: border-box;
    font-size: 0.5rem;
    overflow: hidden;
}

:host ::ng-deep .p-calendar .p-datepicker table {
    width: 100%;
    font-size: 0.9rem;
}

:host ::ng-deep .p-calendar .p-datepicker td {
    padding: 0.25rem !important;
}

:host ::ng-deep .p-calendar .p-datepicker-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
