<div class="container">
    <div class="Description">
        {{book.description}}
    </div>

    <div class="dates">
        <div class="reservation-date">
          <span >Reservation Date</span>
          <input
            pInputText
            id="reservation-date"
            [disabled]="true"
            placeholder="yyyy-mm-dd"
            [(ngModel)]="reservationDateString"
          />
        </div>
        <div class="return-date">
          <span>Return Date</span>
          <input
            pInputText
            id="return-date"
            
            placeholder="yyyy-mm-dd"
            [(ngModel)]="returnDateString"
          />
        </div>
      </div>
      

    <div class="actions">
        <div *ngIf="isVisible">
            <p-button
          label="Add Wishlist" 
          icon="pi pi-plus" 
          [text]="true"  
          severity="info" 
          size="small"
          (onClick)="addBookToWishlist(book.id)"
        >
        </p-button>
        </div>


        <div>
            <p-button label="Reserve" severity="info" (onClick)="ReserveBook(book.titre,returnDateString,book.id)"  size="small" icon="pi pi-check" size="small" />
        </div>
        
        
    </div>

</div>