<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-grid-list cols="4" rowHeight="100px"   class="KPIS-cards">
       @for (item of KPIScards | async; track item) {
        <mat-grid-tile [colspan]="item.cols" [rowspan]="item.rows">
          <mat-card class="dashboard-card KPIS-card">
            <mat-card-header>
              
              <mat-card-title>
                {{item.title }}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="KPIS-card-content">
              <div>{{item.content}} <span [ngStyle]="{'color': item.isUp ? 'green' : 'red'}" >{{item.taux}}</span></div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

       }
  </mat-grid-list>


  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards | async; track card) {
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
              <ng-container *ngComponentOutlet="card.component"></ng-container>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
