.container{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    background-color: #f3f5f7;
}


.Login-Form{
    background-color: white;
    width: 350px;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    
}

.Login-Form div{
    margin-bottom:15px;

}


.Login-Form div input{
    width: 100%;
}


::ng-deep .btn {
    width: 100% !important;
}



.forget-password {
    display: block;          
    width: 100%;            
    margin: 5px 0 0 0;     
    text-align: center; 
    cursor: pointer; 
    color: rgb(75, 75, 229);   
}

.forget-password:hover{
    text-decoration: underline;
    cursor: pointer;
}


.Login-Form .error{
    color: red;
    font-size: 14px;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 0px;
    
}


.role{
    text-align: center;
}



.role{
    text-align: center;
}



:host ::ng-deep .p-selectbutton {
    background-color: #f5f7fa;
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  :host ::ng-deep .p-selectbutton .p-button {
    border: none;
    border-radius: 0.25rem;
    color: #69707a;
    background-color: transparent;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  :host ::ng-deep .p-selectbutton .p-button.p-highlight {
    background-color: #ffffff;
    color: #111927;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  :host ::ng-deep .p-selectbutton .p-button:not(.p-highlight):hover {
    background-color: #e0e7ff;
  }



  ::ng-deep .p-inputtext{
 width: 100%;
  }