<div class="container">
   <div class="Login-Form" [formGroup]="LoginForm">
      <!--- Email input  --->
      <div>
         <p-floatLabel variant="on">
            <input pInputText id="on_label" formControlName="email"  autocomplete="off" />
            <label for="on_label">Email</label>
        </p-floatLabel>
        <div class="error" *ngIf="LoginForm.get('email')?.errors?.['required']&& LoginForm.get('email')?.touched "><p>Email is required.</p></div>


      </div>
      <!--- Password input  --->
     <div>
      <p-floatLabel variant="on">
         <input pInputText id="on_label" formControlName="password"  autocomplete="off" />
         <label for="on_label">Password</label>
        </p-floatLabel>
        <div class="error" *ngIf="LoginForm.get('password')?.errors?.['required']&& LoginForm.get('password')?.touched "><p>Password is required.</p></div>

     </div>

      <!--- Login button  --->
      <div>
         <p-button styleClass="btn" [disabled]="!LoginForm.valid" (click)="onLogin()"  label="Log In" />
      </div>

      <span class="forget-password">Forget Password?</span>
      
   </div>
   
  
</div>

