.container{
    height: 100vh;
    position: relative;
    
}


.container .content div {
    padding-left: 10px;
    
    
}

.container .content .head-name {
    padding-top: 50px;
    padding-left:20px;
    
}


.head-name .logo{
    font-size:26px;
    color: #FFFAF0;
}

.list div{
    margin-top:30px;
    font-size: 16px;
    color: #D1D5DB;
    cursor: pointer;

}

.list div span,.logout span{
    padding-left: 10px;
}



.logout{
    position: absolute;
    bottom: 20px;
    left:5px;
    font-size: 16px;
    color: #D1D5DB;
    cursor: pointer;
}



