<div class="container">
    <div class="content">
        <div class="head-name">
          <span class="logo"> E-Library Hub</span>
        </div>

        <div class="list">
            <div routerLink="" ><i class="fas fa-home"></i> <span>Home</span></div>
            <div routerLink="/Discover" ><i class="fas fa-compass"></i> <span>Discover</span></div>
            <div><i class="fa-solid fa-book-open"></i> <span>Recommendations</span></div>
            <div><i class="fa-solid fa-bookmark"></i> <span>Wishlist</span></div>
            <div><i class="fas fa-cog"></i> <span>Settings</span></div>
        </div>

        <div (click)="confirm1($event)" class="logout">
            <div><i class="fas fa-sign-out-alt"></i> <span>Logout</span></div>
        </div>
    </div>

</div>
