.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}
  
::ng-deep input {
    height: 2.3rem;
    width: 100%;
}
  
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}

.profile div{
    margin-left: 20px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right:10px;
}

.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.notification{
    padding-top:10px;
}

:host ::ng-deep .p-badge { 
  font-size: 12px;    
  min-width: 20px;    
  height: 20px;        
  line-height: 20px;    
 
}


:host ::ng-deep .p-menu{
    height:70vh;
    width: 350px;
    overflow-x: hidden;
    overflow-y:scroll;
    z-index: 1000;
    padding-top: 0 !important;
    
    // Webkit browsers (Chrome, Safari, newer Edge)
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 50px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #b0b0b0;
        border-radius: 25px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background: #878484;
    }
    
    // Firefox
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}





:host ::ng-deep .ng-tns-c1854380517-2{
    font-size:22px;
}


:host ::ng-deep .p-menuitem-text{
    font-size: 16px;
    line-height: 1.2;
    
}



::ng-deep .p-menuitem{
    margin-left: 10px;
   
}

::ng-deep .p-menuitem-icon{
    font-size: 20px;
}

:host ::ng-deep .p-menu .p-submenu-header {
    position: sticky;
    top: 0;
    z-index: 1001;
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}